<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, sequi adipisci, deserunt et fuga aperiam omnis aliquid nisi distinctio consectetur, corporis iusto rem unde delectus! Repudiandae eum dolorum fuga reiciendis tempore, aliquam modi id ea ab et voluptates provident quas a quia eaque inventore. Ad non possimus corporis quaerat excepturi!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, at. Quasi totam obcaecati quaerat cumque dicta quo aperiam nam, quos necessitatibus tempore rem repellendus quod hic corporis voluptatem cum blanditiis illo numquam velit voluptatum ullam sint quia! Maxime quis dicta, fugit sed dolorum nemo harum facilis dolorem quae officiis numquam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quia minima recusandae veritatis neque totam, laboriosam tenetur commodi sunt iure alias. Pariatur tempore reiciendis quasi distinctio ipsam eveniet omnis consectetur consequatur minus, nesciunt consequuntur provident itaque esse similique illum repudiandae iure qui nemo ipsa architecto rerum! Tenetur enim inventore possimus?</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>